/**
 * @file
 * Bootstrap Barrio specific styling for the Book module.
 */

 @import "../../node_modules/bootstrap/scss/functions";  // Bootstrap variables.
 @import "../../node_modules/bootstrap/scss/variables";  // Bootstrap variables.
 @import "../../node_modules/bootstrap/scss/mixins";  // Bootstrap variables.
 @import "../variables";                              // Vartheme variables.
 @import "../mixins";                               // Vartheme mixins.
 @import "../typography";                           // Vartheme typography.

.book-navigation .menu {
    border-top: 1px solid $border-color;
}

.book-navigation .book-pager {
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    margin: 0;
}
