// Book component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // VARTHEME_BS4_SUBTHEME variables.
@import "../mixins";                      // VARTHEME_BS4_SUBTHEME mixins.
// -----------------------------------------------------------------------------

.book-navigation .menu {
  border-top: 1px solid $border-color;
}

.book-navigation .book-pager {
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  margin: 0;
}
