// Styles for Bootstrap Barrio's breadcrumbs.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // VARTHEME_BS4_SUBTHEME variables.
@import "../mixins";                      // VARTHEME_BS4_SUBTHEME mixins.
// -----------------------------------------------------------------------------

.breadcrumb {
  font-size: 0.929em$font-size-sm;
}

.region-breadcrumb {
  padding: 0 15px 0.25em;
  width: 100%;
}
