// Progress bar styles.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap variables.
@import "../../node_modules/bootstrap/scss/variables";  // Bootstrap variables.
@import "../../node_modules/bootstrap/scss/mixins";  // Bootstrap variables.
@import "../variables";                              // Vartheme variables.
@import "../mixins";                               // Vartheme mixins.
@import "../typography";                           // Vartheme typography.
// -----------------------------------------------------------------------------

.progress-wrapper {
  margin-bottom: $form-group-margin-bottom;

  &:last-child .progress {
    margin-bottom: 5px;
  }

  .message {
    font-weight: 700;
    margin-bottom: 5px;
  }


  .progress-bar {
    min-width: 2em;
  }

}
