#auth-box {
  padding: 1.875rem 0 0;
}

#auth-box #the-logo {
  margin: 0;
  padding: 0 0 1.75rem;
  text-align: center;
}

#auth-box .title {
  margin: 0;
  padding: 0 0 15px;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  #auth-box .title {
    font-size: calc(1.325rem + 0.9vw);
  }
}

#auth-box #middle-part {
  overflow: hidden;
  padding: 15px;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#auth-box .back-link {
  padding: 1rem 0 0;
}

#auth-box #bottom-part {
  padding: 1rem 0 0;
  text-align: center;
  font-size: 0.75rem;
}

#auth-box .user-form .form-control {
  max-width: 100%;
}

#auth-box .block-title {
  height: 1px;
  margin: 2rem 0;
  text-align: center;
  background: #eee;
}

#auth-box .block-title span {
  position: relative;
  top: -30px;
  padding: 0 0.70rem;
  text-transform: uppercase;
  background: #fff;
  font-size: 1rem;
}

#auth-box .user-login-form {
  text-align: left;
}

#auth-box .user-login-form .form-checkbox {
  margin-top: 0.5rem;
}

#auth-box .user-login-form .option {
  font-size: 1rem;
}

#auth-box .form-actions {
  text-align: center;
}

#auth-box .block-social-auth-login {
  text-align: center;
}
