**/*.min.js
**/gulpfile.js
**/bootstrap
**/node_modules
js/bootstrap/*.js
js/bootstrap_barrio/*.js
js/misc/*.js
js/popper/*.js
VARTHEME_BS4_SUBTHEME/*.min.js
VARTHEME_BS4_SUBTHEME/gulpfile.js
VARTHEME_BS4_SUBTHEME/bootstrap
VARTHEME_BS4_SUBTHEME/node_modules
VARTHEME_BS4_SUBTHEME/js/bootstrap/*.js
VARTHEME_BS4_SUBTHEME/js/bootstrap_barrio/*.js
VARTHEME_BS4_SUBTHEME/js/popper/*.js
drupalci.yml
**/drupalci.yml