// Vartheme content (RTL) styling.
// -----------------------------------------------------------------------------
@import "../../../node_modules/bootstrap/scss/functions"; // Bootstrap functions.
@import "../../../node_modules/bootstrap/scss/variables"; // Bootstrap variables.
@import "../../../node_modules/bootstrap/scss/mixins";    // Bootstrap mixins.
@import "../../variables";                            // Vartheme variables.
@import "../../mixins";                               // Vartheme mixins.
@import "../../typography";                           // Vartheme typography.
// -----------------------------------------------------------------------------


// Insert your vartheme content (RTL) custom styling.
