/* Insert your Bootstrap (RTL) overrides for bootstrap-rtl library. */
/* Justify content center. */
[dir=rtl] .justify-content-center.nav-pills > li + li {
  margin-left: inherit;
}

body {
  font-family: "Droid Arabic Kufi", sans-serif;
}
