#edit-moderation-state-wrapper > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 1rem;
}

#edit-moderation-state-wrapper > div fieldset {
  margin-right: calc(1.625rem + 4.5vw);
}

@media (min-width: 1200px) {
  #edit-moderation-state-wrapper > div fieldset {
    margin-right: 5rem;
  }
}

#edit-moderation-state-wrapper > div fieldset label {
  float: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0.5rem 0 0;
  font-weight: bold;
}

#edit-moderation-state-wrapper > div fieldset.form-item-moderation-state-0-state {
  margin-top: -0.5rem;
}

#edit-moderation-state-wrapper > div fieldset.form-item-moderation-state-0-state label {
  margin-top: 0.5rem;
}

#edit-moderation-state-wrapper > div fieldset .form-control {
  float: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 20em;
}

[dir="rtl"] #edit-moderation-state-wrapper > div fieldset {
  margin-right: 0;
  margin-left: calc(1.625rem + 4.5vw);
}

@media (min-width: 1200px) {
  [dir="rtl"] #edit-moderation-state-wrapper > div fieldset {
    margin-left: 5rem;
  }
}

[dir="rtl"] #edit-moderation-state-wrapper > div fieldset label {
  float: right;
  margin: 0 0 0 0.5rem;
}

[dir="rtl"] #edit-moderation-state-wrapper > div fieldset.form-item-moderation-state-0-state label {
  margin-top: 0.5rem;
}

[dir="rtl"] #edit-moderation-state-wrapper > div fieldset .form-control {
  float: right;
}

#edit-preview-toggle {
  margin-top: 1rem;
}
