#sidebar_first {
  height: 100%;
  padding-top: 1.25rem;
  padding-right: 0;
}

@media (max-width: 47.9em) {
  .row-offcanvas {
    position: relative;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar_first {
    padding-top: 0;
  }
}
