.vb-tags {
  padding-left: 0;
  list-style: none;
}
.vb-tags::after {
  display: block;
  clear: both;
  content: "";
}
.vb-tags li {
  display: inline;
}
.vb-tags li > a,
.vb-tags li > span {
  display: inline-block;
  padding: 0.3125rem 0.875rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  background-color: #fff;
}
.vb-tags li > a:hover,
.vb-tags li > a:focus {
  text-decoration: none;
  background-color: #e9ecef;
}

[dir=rtl] .vb-tags {
  padding-right: 0;
  padding-left: initial;
}
