// VARTHEME_BS4_SUBTHEME footer styling.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // VARTHEME_BS4_SUBTHEME variables.
@import "../mixins";                      // VARTHEME_BS4_SUBTHEME mixins.
// -----------------------------------------------------------------------------

/* Insert your VARTHEME_BS4_SUBTHEME footer custom SASS styling. */

.footer-wrapper {
  background-color: $footer-wrapper-bg;

  .footer {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: ($spacer * 5);

    section.region-footer {
      display: flex;
      flex-flow: column;
      justify-content: center;

      @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
        flex-flow: row;
      }

      div[id$="-copyright"] {
        flex-flow: column;
        display: flex;
        justify-content: center;
        padding: $spacer $spacer 0 $spacer;
        font-size: 12px;
      }

      .menu--footer {
        padding: $spacer 0;
        font-size: 12px;
        display: flex;
        flex-flow: column;
        justify-content: center;

        ul.nav {
          display: flex;
          flex-flow: row;
          justify-content: center;
          flex-wrap: wrap;
          padding: $spacer $spacer 0 $spacer;

          li {
            padding: 0 $spacer;
          }
        }
      }
    }
  }
}
