// VARTHEME_BS4_SUBTHEME footer styling.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // VARTHEME_BS4_SUBTHEME variables.
@import "../mixins";                      // VARTHEME_BS4_SUBTHEME mixins.
// -----------------------------------------------------------------------------

/* Insert your VARTHEME_BS4_SUBTHEME footer custom SASS styling. */

.footer-wrapper {
  background-color: $footer-wrapper-bg;
  margin-top: auto;

  .footer {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;

    section.region-footer {
      display: flex;
      flex-flow: column;
      justify-content: center;

      @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
        flex-flow: row;
      }

      div[id$="-copyright"] {
        flex-flow: column;
        display: flex;
        justify-content: center;
        @include padding($spacer $spacer 0 $spacer);
        @include font-size(0.75rem);
      }

      .menu--footer {
        padding: $spacer 0;
        @include font-size(0.75rem);
        display: flex;
        flex-flow: column;
        justify-content: center;

        ul.nav {
          display: flex;
          flex-flow: row;
          justify-content: center;
          flex-wrap: wrap;
          @include padding($spacer $spacer 0 $spacer);

          li {
            @include padding(0 $spacer);
          }
        }
      }
    }
  }
}
