// Varbase Video player
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/variables";  // Bootstrap variables.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                   // VARTHEME_BS4_SUBTHEME variables.
@import "../mixins";                      // VARTHEME_BS4_SUBTHEME mixins.
@import "../typography";                  // VARTHEME_BS4_SUBTHEME typography.
// -----------------------------------------------------------------------------

.video-player-icon {
  position: relative;

  &.js-video-player-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    cursor: pointer;
    z-index: 3;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    font-size: 15%;
    cursor: pointer;
    transition: 0.4s;
    background-color: #fff;
    border-radius: 100%;
  }


  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.6em 0 0.6em 1.0em;
    border-color: transparent transparent transparent #21c87a;
  }

  &:hover:after {
    opacity: 0.75;
  }

  &:hover:before {
    transform: translate(-50%, -50%) scale(1.2);
  }
}


.small, .medium{
  .video-player-icon {
    &:before {
      height: 30px;
      width: 30px;
    }
  }
}

[dir="rtl"] .video-player-icon {
  &.js-video-player-icon {
    right: 0;
    left: auto;
  }
}

.media--type-video-embed,
.media--type-remote-video,
.media--type-video {
  position: relative;
}
