// Vartheme footer styling.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions"; // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/variables"; // Bootstrap variables.
@import "../../node_modules/bootstrap/scss/mixins";    // Bootstrap mixins.
@import "../variables";                                // Vartheme variables.
@import "../mixins";                                   // Vartheme mixins.
@import "../typography";                               // Vartheme typography.
// -----------------------------------------------------------------------------

// Insert your vartheme footer custom LESS styling.

.footer-wrapper {
  background-color: $footer-wrapper-bg;

  .footer {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 45px;

    section[id$="-copyright"] {
      float: left;
      padding: 17px 0 17px 0;
      font-size: 12px;

      > div {
        padding: 14px 0 10px 0;
        }
      }

    ul.nav {
      li {
        display: inline-block;
        list-style: none;
      }
    }
  }
}
