// Styles for the help block.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions"; // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";    // Bootstrap mixins.
@import "../variables";                                // Vartheme variables.
@import "../mixins";                                   // Vartheme mixins.
// -----------------------------------------------------------------------------

.block-help {
  border: $border-width solid $border-color;
  padding: 0 ($spacer * 1.5);
  margin-bottom: ($spacer * 2);
}
