/**
 * @file
 * Basic styling for comment module.
 */

 @import "../../node_modules/bootstrap/scss/functions";  // Bootstrap variables.
 @import "../../node_modules/bootstrap/scss/variables";  // Bootstrap variables.
 @import "../../node_modules/bootstrap/scss/mixins";  // Bootstrap variables.
 @import "../variables";                              // Vartheme variables.
 @import "../mixins";                               // Vartheme mixins.
 @import "../typography";                           // Vartheme typography.

/**
 * Indent threaded comments.
 */

.indented {
    margin-left: ($spacer * 1.5);
    /* LTR */
}

[dir="rtl"] .indented {
    margin-left: 0;
    margin-right: ($spacer * 1.5);
}
