/**
 * @file
 * Styles for Bootstrap Barrio affix effect.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.affix {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1035;
  left: 0; }

/**
 * @file
 * Visual styles for comments in Barrio.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.alert-sm {
  padding: 5px 10px; }

.alert a {
  font-weight: bold; }

.alert-success a,
.alert-success a:hover,
.alert-success a:focus {
  color: #2b542c; }

.alert-info a,
.alert-info a:hover,
.alert-info a:focus {
  color: #245269; }

.alert-warning a,
.alert-warning a:hover,
.alert-warning a:focus {
  color: #66512c; }

.alert-danger a,
.alert-danger a:hover,
.alert-danger a:focus {
  color: #843534; }

/**
 * @file
 * Bootstrap Barrio specific styling for the Book module.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.book-navigation .menu {
  border-top: 1px solid #dee2e6; }

.book-navigation .book-pager {
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  margin: 0; }

/**
 * @file
 * Styling for the Book module.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.book-navigation .menu {
  padding-bottom: 0;
  padding-top: 1em; }

.book-navigation .book-pager {
  margin: 0;
  overflow: auto;
  padding: 0.5em 0; }

.book-pager__item {
  display: inline-block;
  list-style-type: none;
  vertical-align: top; }

.book-pager__item--previous {
  text-align: left;
  /* LTR */
  width: 45%; }

[dir="rtl"] .book-pager__item--previous {
  float: right;
  text-align: right; }

.book-pager__item--center {
  text-align: center;
  width: 8%; }

.book-pager__item--next {
  float: right;
  /* LTR */
  text-align: right;
  /* LTR */
  width: 45%; }

[dir="rtl"] .book-pager__item--next {
  float: left;
  text-align: left; }

/**
 * @file
 * Styles for Bootstrap Barrio's breadcrumbs.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.breadcrumb {
  font-size: 0.929em 0.875rem; }

.region-breadcrumb {
  padding: 0 15px 0.25em;
  width: 100%; }

/**
 * @file
 * Visual styles for comments in Bartik.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
/* This is required to win over specificity of #content h2 */
#content .comment-wrapper h2 {
  margin-bottom: 1em; }

#content .comment-wrapper h2.comment-form__title {
  margin-bottom: 1em; }

.field-node--comment {
  font-size: 0.875rem; }

.comment {
  margin-bottom: 1.25em;
  vertical-align: top;
  display: table; }

[dir="rtl"] .comment {
  direction: rtl; }

.comment__meta {
  padding: 0 30px 0 0;
  /* LTR */
  font-size: 1rem; }

[dir="rtl"] .comment__meta {
  padding: 0 0 0 30px; }

.comment__attribution img {
  border: 1px solid #dee2e6; }

/* This is required to win over specificity of .field--type-image img */
.comment .field--name-user-picture img {
  margin: 0; }

.comment__author .username {
  white-space: nowrap; }

.comment__author {
  margin: 4px 0;
  line-height: 1.2; }

.comment__time,
.comment__permalink {
  margin-bottom: 4px;
  color: #68696b;
  font-size: 0.875rem;
  line-height: 1.2;
  padding: 0 0.5em 0 0;
  /* LTR */ }

[dir="rtl"] .comment__time,
.comment__permalink {
  padding: 0 0 0 0.5em; }

.comment__permalink {
  font-size: 0.875rem;
  line-height: 1.2; }

.comment__content:before {
  content: '';
  position: absolute;
  right: 100%;
  /* LTR */
  top: 1.25em;
  border-top: 1.25em solid transparent;
  border-right: 1.25em solid #dee2e6;
  /* LTR */
  border-bottom: 1.25em solid transparent; }

[dir="rtl"] .comment__content:before {
  right: auto;
  left: 100%;
  border-right: none;
  border-left: 1.25em solid #dee2e6; }

.comment__content:after {
  content: '';
  position: absolute;
  right: 100%;
  /* LTR */
  top: 1.25em;
  border-top: 1.25em solid transparent;
  border-right: 1.25em solid #fff;
  /* LTR */
  border-bottom: 1.25em solid transparent;
  margin-right: -1px;
  /* LTR */ }

[dir="rtl"] .comment__content:after {
  right: auto;
  left: 100%;
  border-right: none;
  border-left: 1.25em solid #fff;
  margin-right: 0;
  margin-left: -1px; }

.comment__content h3 {
  margin-top: 0.94em;
  margin-bottom: 0.45em;
  font-size: 1.25rem; }

.comment__content nav {
  padding-top: 1px; }

.indented {
  margin-left: 40px;
  /* LTR */ }

[dir="rtl"] .indented {
  margin-right: 40px;
  margin-left: 0; }

.comment .links {
  padding: 0 0 0.25em 0; }

.comment .links-inline span {
  padding: 0 0.5em 0 0;
  /* LTR */
  font-size: 1rem; }

[dir="rtl"] .comment .links-inline span {
  padding: 0 0 0 0.5em; }

.comment--unpublished {
  margin-right: 5px;
  /* LTR */
  padding: 5px 2px 5px 5px;
  /* LTR */
  background: #7ecfff; }

[dir="rtl"] .comment--unpublished {
  margin-left: 5px;
  margin-right: 0;
  padding: 5px 5px 5px 2px; }

/**
 * @todo: unpublished nodes have class .node--unpublished.
 * change this to .comment--unpublished.
 */
.unpublished .comment-text .comment-arrow {
  border-left: 1px solid #7ecfff;
  border-right: 1px solid #7ecfff; }

.unpublished {
  padding: 1.25em 1.25em 0; }

.comment-footer {
  display: table-row; }

.comment--unpublished .comment__text:after,
.node--unpublished .comment__text:after {
  border-right-color: #7ecfff;
  /* LTR */ }

[dir="rtl"] .comment--unpublished .comment__content:after,
[dir="rtl"] .node--unpublished .comment__content:after {
  border-left-color: #7ecfff; }

/**
 * @file
 * Contextual links styles for Bootstrap Barrio.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.contextual-links a {
  border-bottom: none;
  text-shadow: 0 0 0; }

/**
 * @file
 * Collapsible details.
 *
 * @see collapse.js
 * @see http://nicolasgallagher.com/css-background-image-hacks/
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
details {
  border: 1px solid #dee2e6;
  margin-top: 1rem;
  margin-bottom: 1rem; }

details > .details-wrapper {
  padding: 0.5em 1.5em; }

/* @todo Regression: The summary of uncollapsible details are no longer
     vertically aligned with the .details-wrapper in browsers without native
     details support. */
summary {
  cursor: pointer;
  padding: 0.2em 0.5em; }

/**
 * @file
 * Visual styles for Bartik's dropbutton component.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.js .dropbutton-wrapper .dropbutton-widget {
  /* This is required to win over specifity of .js td .dropbutton-widget */
  position: relative; }

.js .dropbutton-widget {
  border: 1px solid;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4 #d2d2d2;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
  background-image: linear-gradient(to bottom, #f3f3f3, #e8e8e8);
  color: #3a3a3a;
  cursor: pointer;
  text-align: center;
  margin: 0.125em 0;
  border-radius: 1em;
  overflow: hidden; }

.js .dropbutton-widget:hover {
  border-color: #e4e4e4 #d2d2d2 #b4b4b4 #d2d2d2; }

.js .dropbutton-widget .button {
  border: none;
  margin: 0;
  padding: 0.32em 1em;
  background: transparent none; }

.js .dropbutton-multiple .dropbutton-widget .dropbutton-action a {
  margin-right: 0;
  /* LTR */ }

[dir="rtl"].js .dropbutton-multiple .dropbutton-widget .dropbutton-action a {
  margin-left: 0; }

.js .dropbutton .secondary-action {
  border-top-color: #ccc; }

.js .dropbutton-toggle button {
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #d2d2d2);
  background-image: linear-gradient(to bottom, #e8e8e8, #d2d2d2); }

.js .dropbutton-toggle .dropbutton-arrow:hover {
  background: #ccc; }

.js .dropbutton a {
  color: #3a3a3a;
  border-bottom: 0 none; }

.js .dropbutton .dropbutton-action:hover,
.js .dropbutton a:hover {
  background: #dedede;
  border-bottom: 0 none; }

/**
 * @file
 * General styles for dropbuttons.
 */
.js .dropbutton-widget {
  background-color: white;
  border: 1px solid #cccccc; }

.js .dropbutton-widget:hover {
  border-color: #b8b8b8; }

.dropbutton .dropbutton-action > * {
  padding: 0.1em 0.5em;
  white-space: nowrap; }

.dropbutton .secondary-action {
  border-top: 1px solid #e8e8e8; }

.dropbutton-multiple .dropbutton {
  border-right: 1px solid #e8e8e8;
  /* LTR */ }

[dir="rtl"] .dropbutton-multiple .dropbutton {
  border-left: 1px solid #e8e8e8;
  border-right: 0 none; }

.dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-right: 0.25em;
  /* LTR */ }

[dir="rtl"] .dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-left: 0.25em;
  margin-right: 0; }

.js td .dropbutton-multiple {
  padding-right: 10em;
  margin-right: 2em;
  max-width: 100%; }

.js td .dropbutton-wrapper {
  min-height: 2em; }

.js .dropbutton-wrapper,
.js .dropbutton-widget {
  display: block;
  position: relative; }

.js td .dropbutton-widget {
  position: absolute; }

/**
 * @file
 * Feed icon styles for Bootstrap Barrio.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.feed-icon {
  border-bottom: none;
  display: inline-block;
  padding: 1rem 0 0 0; }

/**
 * @file
 * Visual styles for Bootstrap Barrio's field components.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.field--type-entity-reference {
  margin: 0 0 1.2rem; }

.field--type-entity-reference .field__label {
  font-weight: normal;
  margin: 0;
  padding-right: 0.3rem;
  /* LTR */ }

[dir="rtl"] .field--type-entity-reference .field__label {
  padding-left: 0.3rem;
  padding-right: 0; }

.field--type-entity-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none; }

.field--type-entity-reference ul.links li {
  float: left;
  /* LTR */
  padding: 0 1rem 0 0;
  /* LTR */
  white-space: nowrap; }

[dir="rtl"] .field--type-entity-reference ul.links li {
  padding: 0 0 0 1rem;
  float: right; }

@media all and (min-width: 560px) {
  .node .field--type-image + .field--type-image {
    clear: both; } }

.field--type-image img,
.field--name-field-user-picture img {
  margin: 0 0 1rem; }

.field--type-image a {
  border-bottom: none; }

.field--name-field-tags {
  margin: 0 0 1.2rem; }

.field--name-field-tags .field__label {
  font-weight: normal;
  margin: 0;
  padding-right: 5px;
  /* LTR */ }

[dir="rtl"] .field--name-field-tags .field__label {
  padding-left: 5px;
  padding-right: 0; }

.field--name-field-tags .field__label,
.field--name-field-tags ul.links {
  font-size: 0.875rem; }

.node--view-mode-teaser .field--name-field-tags .field__label,
.node--view-mode-teaser .field--name-field-tags ul.links {
  font-size: 0.875rem; }

.field--name-field-tags ul.links {
  padding: 0;
  margin: 0; }

.field--name-field-tags ul.links li {
  float: left;
  /* LTR */
  padding: 0 1rem 0 0;
  /* LTR */
  white-space: nowrap; }

[dir="rtl"] .field--name-field-tags ul.links li {
  padding: 0 0 0 1rem;
  float: right; }

.field--label-inline .field__label,
.field--label-inline .field__item {
  display: inline-block; }

/**
 * @file
 * Default style for file module.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
/* File icons.*/
.file {
  padding-left: 1.5rem;
  /* LTR */
  display: inline-block;
  min-height: 1rem;
  background-repeat: no-repeat;
  background-position: left center;
  /* LTR */ }

[dir="rtl"] .file {
  padding-left: inherit;
  padding-right: 1.5rem;
  background-position: right center; }

.file--general,
.file--application-octet-stream {
  background-image: url(../../images/icons/application-octet-stream.png); }

.file--package-x-generic {
  background-image: url(../../images/icons/package-x-generic.png); }

.file--x-office-spreadsheet {
  background-image: url(../../images/icons/x-office-spreadsheet.png); }

.file--x-office-document {
  background-image: url(../../images/icons/x-office-document.png); }

.file--x-office-presentation {
  background-image: url(../../images/icons/x-office-presentation.png); }

.file--text-x-script {
  background-image: url(../../images/icons/text-x-script.png); }

.file--text-html {
  background-image: url(../../images/icons/text-html.png); }

.file--text-plain {
  background-image: url(../../images/icons/text-plain.png); }

.file--application-pdf {
  background-image: url(../../images/icons/application-pdf.png); }

.file--application-x-executable {
  background-image: url(../../images/icons/application-x-executable.png); }

.file--audio {
  background-image: url(../../images/icons/audio-x-generic.png); }

.file--video {
  background-image: url(../../images/icons/video-x-generic.png); }

.file--text {
  background-image: url(../../images/icons/text-x-generic.png); }

.file--image {
  background-image: url(../../images/icons/image-x-generic.png); }

/**
 * @file
 * Visual styles for Bootstrap Barrio's form components.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.form-required::after {
  content: '';
  vertical-align: super;
  display: inline-block;
  background-image: url(../../images/required.svg);
  background-repeat: no-repeat;
  background-size: calc(2.25rem + 2px)/2 calc(2.25rem + 2px)/2;
  width: calc(2.25rem + 2px)/2;
  height: calc(2.25rem + 2px)/2;
  margin: 0 0.3em; }

form .filter-wrapper {
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem; }

form .form-type-textarea {
  margin-bottom: 0; }

/* ------------------ Header ------------------ */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
#navbar-top {
  padding: 0 1rem; }

#navbar-top.navbar-dark .nav-link:hover,
#navbar-top.navbar-dark .nav-link:focus {
  color: rgba(255, 255, 255, 0.75); }

#navbar-top.navbar-dark .nav-link {
  color: rgba(255, 255, 255, 0.5); }

#navbar-top.navbar-light .nav-link:hover,
#navbar-top.navbar-light .nav-link:focus {
  color: rgba(0, 0, 0, 0.7); }

#navbar-top.navbar-light .nav-link {
  color: rgba(0, 0, 0, 0.5); }

.navbar-brand .site-logo {
  margin-right: 1rem; }

@media (max-width: 33.9em) {
  .navbar-toggleable-xs .navbar-nav .nav-item + .nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none; } }

@media (max-width: 47.9em) {
  .navbar-toggleable-sm .navbar-nav .nav-item + .nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none; } }

/**
 * @file
 * Styles for the help block.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.block-help {
  border: 1px solid #dee2e6;
  padding: 0 1.5rem;
  margin-bottom: 2rem; }

/**
 * @file
 * Visual styles for icons.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.icon-help {
  background: url(/../../images/help.png) 0 50% no-repeat;
  /* LTR */
  padding: 1px 0 1px 1.5rem;
  /* LTR */ }

[dir="rtl"] .icon-help {
  background-position: 100% 50%;
  padding: 1px 1.5rem 1px 0; }

.feed-icon {
  background: url(/../../images/feed.svg) no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
  width: 1rem;
  height: 1rem; }

/**
 * @file
 * Styles for Bootstrap Barrio's image buttons.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.image-button.is-disabled:hover,
.image-button.is-disabled:active,
.image-button.is-disabled:focus,
.image-button.is-disabled {
  background: transparent;
  opacity: 0.5;
  cursor: default; }

/**
 * @file
 * Basic styling for comment module.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
/**
 * Indent threaded comments.
 */
.indented {
  margin-left: 1.5rem;
  /* LTR */ }

[dir="rtl"] .indented {
  margin-left: 0;
  margin-right: 1.5rem; }

/**
 * @file
 * Visual styles for Bootstrap Barrio's item list.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.item-list ul {
  list-style: none;
  margin: 0 0 0.75rem 0;
  padding: 0;
  /* LTR */ }

[dir="rtl"] .item-list ul {
  padding: 0; }

.item-list ul li {
  /* This is needed to reset styles in item-list.theme.css */
  margin: 0;
  padding: 0.75rem 1.25rem 0 0;
  /* LTR */ }

[dir="rtl"] .item-list ul li {
  /* This is needed to reset [dir="rtl"] styles in item-list.theme.css */
  margin: 0;
  padding: 0.75rem 0 0 1.25rem; }

.item-list .item-list__comma-list,
.item-list .item-list__comma-list li,
[dir="rtl"] .item-list .item-list__comma-list,
[dir="rtl"] .item-list .item-list__comma-list li {
  padding: 0; }

/**
 * @file
 * List group.
 * A list of links, grouped together.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.list-group__link {
  border-top: 1px solid #dee2e6;
  padding: 0.75rem 0 0; }

.list-group__description {
  margin: 0 0 0.75rem; }

/**
 * @file
 * Visual styles for Bootstrap Barrio's node component.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.node__content {
  font-size: 1rem;
  margin-top: 1rem; }

/* View mode teaser styles. */
.node--view-mode-teaser {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 1rem;
  padding-bottom: 1rem; }

.node--view-mode-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em; }

.node--view-mode-teaser.node--sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #dee2e6;
  padding: 0 1rem 1rem; }

.node--view-mode-teaser .node__content {
  clear: none;
  font-size: 1rem;
  line-height: 1.5; }

/* Node metadata styles. */
.node__meta {
  font-size: 0.875rem;
  margin-bottom: -5px; }

.node__meta .field--name-field-user-picture img {
  float: left;
  /* LTR */
  margin: 1px 1rem 0 0;
  /* LTR */ }

[dir="rtl"] .node__meta .field--name-field-user-picture img {
  float: right;
  margin-left: 1rem;
  margin-right: 0; }

/* Node links styles. */
.node__links {
  text-align: right;
  /* LTR */
  font-size: 1rem; }

[dir="rtl"] .node__links {
  text-align: left; }

/* Unpublished node styles. */
.node--unpublished {
  padding: 1rem 1rem 0; }

.node--unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4; }

/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.node-preview-container {
  background: #d1e8f5;
  background-image: -webkit-linear-gradient(top, #d1e8f5, #d3e8f4);
  background-image: linear-gradient(to bottom, #d1e8f5, #d3e8f4);
  font-family: Arial, sans-serif;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3333);
  position: fixed;
  z-index: 499;
  width: 100%;
  padding: 10px; }

.node-preview-backlink {
  background-color: #419ff1;
  background: url(../../../../misc/icons/000000/chevron-left.svg) left no-repeat, -webkit-linear-gradient(top, #419ff1, #1076d5);
  background: url(../../../../misc/icons/000000/chevron-left.svg) left no-repeat, linear-gradient(to bottom, #419ff1, #1076d5);
  /* LTR */
  border: 1px solid #0048c8;
  border-radius: .4em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  color: #fff;
  font-size: 0.9em;
  line-height: normal;
  margin: 0;
  padding: 4px 1em 4px 0.6em;
  /* LTR */
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }

[dir="rtl"] .node-preview-backlink {
  background: url(../../../../misc/icons/000000/chevron-right.svg) right no-repeat, -webkit-linear-gradient(top, #419ff1, #1076d5);
  background: url(../../../../misc/icons/000000/chevron-right.svg) right no-repeat, linear-gradient(to bottom, #419ff1, #1076d5);
  padding: 4px 0.6em 4px 1em;
  float: right; }

.node-preview-backlink:focus,
.node-preview-backlink:hover {
  background-color: #419cf1;
  background: url(../../../../misc/icons/000000/chevron-left.svg) left no-repeat, -webkit-linear-gradient(top, #59abf3, #2a90ef);
  background: url(../../../../misc/icons/000000/chevron-left.svg) left no-repeat, linear-gradient(to bottom, #59abf3, #2a90ef);
  /* LTR */
  border: 1px solid #0048c8;
  text-decoration: none;
  color: #fff; }

[dir="rtl"] .node-preview-backlink:focus,
[dir="rtl"] .node-preview-backlink:hover {
  background: url(../../../../misc/icons/000000/chevron-right.svg) right no-repeat, -webkit-linear-gradient(top, #59abf3, #2a90ef);
  background: url(../../../../misc/icons/000000/chevron-right.svg) right no-repeat, linear-gradient(to bottom, #59abf3, #2a90ef); }

.node-preview-backlink:active {
  background-color: #0e69be;
  background: url(../../../../misc/icons/000000/chevron-left.svg) left no-repeat, -webkit-linear-gradient(top, #0e69be, #2a93ef);
  background: url(../../../../misc/icons/000000/chevron-left.svg) left no-repeat, linear-gradient(to bottom, #0e69be, #2a93ef);
  /* LTR */
  border: 1px solid #0048c8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25); }

[dir="rtl"] .node-preview-backlink:active {
  background: url(../../../../misc/icons/000000/chevron-right.svg) right no-repeat, -webkit-linear-gradient(top, #0e69be, #2a93ef);
  background: url(../../../../misc/icons/000000/chevron-right.svg) right no-repeat, linear-gradient(to bottom, #0e69be, #2a93ef); }

.node-preview-backlink::before {
  content: '';
  width: 10px;
  display: inline-block; }

/**
 * @file
 * Styles for Bootstrap Barrio page.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
/**
 * @file
 * The visual styles for Bootstrap Barrio's search form(s).
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
input[type="search"] {
  box-sizing: border-box; }

header #search-block-form {
  padding: 5px 15px;
  flex-flow: row wrap; }

#search-block-form {
  display: flex; }

/**
 * @file
 * Visual styles for the Shortcut action link in Bootstrap Barrio.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.shortcut-wrapper {
  margin: 2.2em 0 1.1em 0;
  /* Same as usual .page-title margin. */ }

.shortcut-wrapper .page-title {
  float: left;
  /* LTR */
  margin: 0; }

[dir="rtl"] .shortcut-wrapper .page-title {
  float: right; }

.shortcut-action {
  border-bottom: none;
  margin-left: 0.5em;
  /* LTR */
  padding-top: 0.35em; }

[dir="rtl"] .shortcut-action {
  margin-left: 0;
  margin-right: 0.5em; }

.shortcut-action:hover,
.shortcut-action:active,
.shortcut-action:focus {
  border-bottom: none; }

/* ------------------ Sidebar ----------------- */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.sidebar .block {
  border-style: solid;
  border-width: 1px;
  padding: 1rem 1rem;
  margin: 0 0 1rem; }
  .sidebar .block .content {
    font-size: 1rem;
    line-height: 1.5; }

.sidebar h2 {
  margin: 0 0 0.5rem;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.25rem;
  line-height: 1.1; }

.sidebar tbody {
  border: none; }

.sidebar tr.even,
.sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #dee2e6; }

.sidebar nav ul.nav {
  margin: -1rem; }

/**
 * @file
 * Footer Styling.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.site-footer {
  padding: 1rem 0; }
  .site-footer .layout-container {
    padding: 0 1rem; }

/* Footer Top Styling. */
.site-footer__top .content {
  margin-top: 0; }

/* Footer Bottom Styling. */
.site-footer__bottom .block {
  margin: 0.5rem 0; }

.site-footer__bottom .content {
  padding: 0.5rem 0;
  margin-top: 0; }

/**
 * @file
 * Styles for the skip link.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.skip-link {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 50;
  background: #495057;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1px 1rem 2px;
  border-radius: 0 0 0.3rem 0.3rem;
  border-bottom-width: 0;
  outline: 0; }

.skip-link.visually-hidden.focusable:focus {
  position: absolute !important;
  color: #fff; }

/**
 * @file
 * Styles for Bootstrap Barrio's tables.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.sticky-header thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd; }

.sticky-header th {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #ddd; }

/**
 * @file
 * Visual styles for table drag.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
tr.drag {
  background-color: #fffff0; }

tr.drag-previous {
  background-color: #ffd; }

body div.tabledrag-changed-warning {
  margin-bottom: 0.5rem; }

/**
 * @file
 * Table select behavior.
 *
 * @see tableselect.js
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
tr.selected td {
  background: #ffc; }

td.checkbox,
th.checkbox {
  text-align: center; }

[dir="rtl"] td.checkbox,
[dir="rtl"] th.checkbox {
  /* This is required to win over specificity of [dir="rtl"] td */
  text-align: center; }

/**
 * @file
 * Table sort indicator.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
th.is-active img {
  display: inline; }

td.is-active {
  background-color: #dee2e6; }

/**
 * @file
 * Tablesort indicator styles.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.tablesort {
  width: 14px;
  height: 14px;
  vertical-align: top;
  margin: 1px 0 0 5px; }

.tablesort--asc {
  background-image: url(../../../../misc/icons/ffffff/twistie-down.svg); }

.tablesort--desc {
  background-image: url(../../../../misc/icons/ffffff/twistie-up.svg); }

/**
 * @file
 * Theme styling for tabs.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
nav.tabs {
  margin-bottom: 1rem; }

/**
 * @file
 * Visual styles for a resizable textarea.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  box-sizing: border-box; }

/**
 * @file
 * Visual styles for Bartik's ui-widget component.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
/**
 * @file
 * Styles for Bartik's modal windows
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
.ui-widget-overlay {
  background: #000;
  opacity: 0.7; }

.ui-dialog {
  border-radius: 0; }

.ui-dialog input,
.ui-dialog select,
.ui-dialog textarea {
  font-size: 1rem; }

.ui-dialog .button {
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
  background-image: linear-gradient(to bottom, #f3f3f3, #e8e8e8);
  border: 1px solid #e4e4e4;
  border-bottom-color: #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  padding: 0.250em 1.063em;
  border-radius: 1em; }

/**
 * @file
 * Theme styling for user module.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
/* Visual styling for the Password strength indicator */
.password-strength__meter {
  margin-top: 0.5em;
  background-color: #e9ecef; }

.password-strength__indicator {
  background-color: #28a745;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out; }

.password-strength__indicator.is-weak {
  background-color: #dc3545; }

.password-strength__indicator.is-fair {
  background-color: #ffc107; }

.password-strength__indicator.is-good {
  background-color: #17a2b8; }

.password-strength__indicator.is-strong {
  background-color: #28a745; }

.password-confirm,
.password-field,
.password-strength,
.password-confirm-match {
  width: 55%; }

.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  max-width: 34.7em;
  border: 1px solid #dee2e6; }

.password-suggestions ul {
  margin-bottom: 0; }

.confirm-parent,
.password-parent {
  clear: left;
  /* LTR */
  margin: 0;
  max-width: 33em;
  overflow: hidden; }

[dir="rtl"] .confirm-parent,
[dir="rtl"] .password-parent {
  clear: right; }

/* Styling for the status indicator of the passwords match test.  */
.password-confirm .ok {
  color: #28a745;
  font-weight: bold; }

.password-confirm .error {
  color: #dc3545;
  font-weight: bold; }

/* Login page stype */
.page-user-login main .region-content,
.page-user-password main .region-content {
  max-width: 400px;
  background: white;
  padding: 1rem 1rem;
  margin: 0 auto;
  border-radius: 0.3rem; }

/**
 * @file
 * Vertical tabs component.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
/* Vertical Tabs Reset */
.vertical-tabs__menu {
  margin: -1px 0 -1px;
  /* LTR */
  padding: 0; }

[dir="rtl"] .vertical-tabs__menu {
  margin-left: 0;
  margin-right: -1em;
  /* This is required to win specificity over [dir="rtl"] .region-content ul */
  padding: 0; }

/**
 * @file
 * Vertical Tabs.
 */
.vertical-tabs {
  margin: 0;
  /* LTR */
  border: 1px solid #dee2e6;
  display: flex;
  flex-direction: row;
  font-size: 0.875rem; }

[dir="rtl"] .vertical-tabs {
  flex-direction: row-reverse;
  margin-left: 0;
  margin-right: 0; }

.vertical-tabs__menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* LTR */
  width: 15em;
  margin: 0;
  /* LTR */
  padding: 0;
  border-top: 1px solid #dee2e6;
  list-style: none; }

[dir="rtl"] .vertical-tabs__menu {
  margin-left: 0;
  margin-right: -15em; }

.vertical-tabs__pane {
  margin: 0;
  border: 0; }

.vertical-tabs__pane > summary {
  display: none; }

/* Layout of each tab. */
.vertical-tabs__menu-item {
  border: 1px solid #dee2e6;
  border-top: 0;
  background: #eee; }

.vertical-tabs__menu-item a {
  display: block;
  padding: 0.5em 0.6em;
  text-decoration: none; }

.vertical-tabs__menu-item a:focus .vertical-tabs__menu-item-title,
.vertical-tabs__menu-item a:active .vertical-tabs__menu-item-title,
.vertical-tabs__menu-item a:hover .vertical-tabs__menu-item-title {
  text-decoration: underline; }

.vertical-tabs__menu-item a:hover {
  outline: 1px dotted; }

.vertical-tabs__menu-item.is-selected {
  border-right-width: 0;
  /* LTR */
  background-color: #fff; }

[dir="rtl"] .vertical-tabs__menu-item.is-selected {
  border-left-width: 0;
  border-right-width: 1px; }

.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-item-title {
  color: #000; }

.vertical-tabs__menu-item-summary {
  display: block;
  margin-bottom: 0;
  line-height: normal; }

/**
 * @file
 * Styling for Views in Bartik.
 */
/* VARIABLES */
/* MIXINS */
/* TYPOGRAPHY */
/* Google Fonts */
/* Tab styles */
.views-displays .tabs .open > a {
  border-radius: 0.3rem 0.3rem 0 0; }

.views-displays .tabs .open > a:hover,
.views-displays .tabs .open > a:focus {
  color: #0079C0; }

.views-displays .secondary .form-submit {
  font-size: 0.875rem; }

/* Tabs action list styles */
.views-displays .tabs .action-list {
  padding: 0; }

/* Contextual filter options styles */
.views-filterable-options .filterable-option:nth-of-type(even) .form-type-checkbox {
  background-color: #F9F9F9; }

/* Views action dropbutton styles */
.views-ui-display-tab-actions .dropbutton .form-submit {
  color: #005283; }

.views-ui-display-tab-actions .dropbutton .form-submit:hover,
.views-ui-display-tab-actions .dropbutton .form-submit:focus {
  color: #0079C0; }
