.js-form-managed-file {
  position: relative;
}
.js-form-managed-file input[type=file] + .varicon {
  position: absolute;
  top: 50%;
  right: 0.375rem;
  transform: translateY(-50%);
}

.throbber-added {
  position: relative;
  padding-right: 50px;
}

.btn .ajax-throbber {
  position: absolute;
  top: 50%;
  right: 0.875rem;
  transform: translateY(-50%);
}
.btn .ajax-throbber::before {
  background-image: url("../../images/icons/refresh-white.svg") !important;
}
