.progress-wrapper {
  margin-bottom: 1rem;
}
.progress-wrapper:last-child .progress {
  margin-bottom: 0.3125rem;
}
.progress-wrapper .message {
  margin-bottom: 0.3125rem;
  font-weight: 700;
}
.progress-wrapper .progress-bar {
  min-width: 2em;
}
